# Rust build artifacts
target

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.local

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
